<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citacup.bakul" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".ActivityMain"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah" >
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter-->
        </activity>

        <!-- Pilih Jurusan -->
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>

        <!-- Pilih Jurusan -->
        <activity
            android:name=".PilihJurusan"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah" >
        </activity>

        <!-- Menu Utama -->
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Informasi Kuliah -->
        <activity
            android:name=".InformasiKuliah"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Informasi Dosen -->
        <activity
            android:name=".InformasiDosen"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Dosen"
            android:parentActivityName=".InformasiKuliah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformasiKuliah" />
        </activity>

        <!-- Pencarian -->
        <activity
            android:name=".Pencarian"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Mata Kuliah"
            android:parentActivityName=".InformasiKuliah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformasiKuliah" />
        </activity>

        <!-- Pencarian Berdasarkan Nama -->
        <activity
            android:name=".PencarianNama"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Mata Kuliah"
            android:parentActivityName=".Pencarian">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pencarian" />
        </activity>

        <!-- Pencarian Berdasarkan Kategori -->
        <activity
            android:name=".PencarianKategori"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Mata Kuliah"
            android:parentActivityName=".Pencarian">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pencarian" />
        </activity>

        <!-- Informasi Mata Kuliah -->
        <activity
            android:name=".InformasiMatkul"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Mata Kuliah"
            android:parentActivityName=".Pencarian">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pencarian" />
        </activity>

        <!-- Lihat Rantai -->
        <activity
            android:name=".LihatRantai"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Informasi Mata Kuliah"
            android:parentActivityName=".InformasiMatkul">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformasiMatkul" />
        </activity>

        <!-- Kalkulator Nilai -->
        <activity
            android:name=".KalkulatorNilai"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Kalkulator Nilai"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Kalkulator Hasil -->
        <activity
            android:name=".KalkulatorHasil"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Kalkulator Nilai"
            android:parentActivityName=".KalkulatorNilai">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KalkulatorNilai" />
        </activity>

        <!-- Perancangan Kuliah Awal -->
        <activity
            android:name=".PerancanganKuliah1"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Perancangan Kuliah -->
        <activity
            android:name=".PerancanganKuliah"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Lihat Perancangan Kuliah -->
        <activity
            android:name=".LihatRancangan"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".PerancanganKuliah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerancanganKuliah" />
        </activity>

        <!-- Ubah Semester lulus -->
        <activity
            android:name=".UbahSemester1"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".PerancanganKuliah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerancanganKuliah" />
        </activity>

        <!-- Ubah isian semester lulus -->
        <activity
            android:name=".UbahIsian1"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".UbahSemester1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UbahSemester1" />
        </activity>

        <!-- Ubah Semester akan diambil-->
        <activity
            android:name=".UbahSemester2"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".UbahSemester1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UbahSemester1" />
        </activity>

        <!-- Ubah isian semester akan diambil -->
        <activity
            android:name=".UbahIsian2"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah : Fitur Perancangan Kuliah"
            android:parentActivityName=".UbahSemester2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UbahSemester2" />
        </activity>

        <!-- Perbarui Aplikasi -->
        <activity
            android:name=".Perbarui"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Kirim Pesan ke Admin -->
        <activity
            android:name=".KirimPesan"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Tutorial Penggunaan Aplikasi -->
        <activity
            android:name=".Tutorial"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Frequently Ask Question -->
        <activity
            android:name=".Faq"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Menu Pengguna -->
        <activity
            android:name=".MenuPengguna"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainMenu" />
        </activity>

        <!-- Splash screen Logout-->
        <activity
            android:name=".Logout"
            android:screenOrientation="portrait"
            android:label="Bantu Kuliah"
            android:noHistory="true" >
        </activity>

    </application>

</manifest>
